{% extends "quiz_base.html" %}

{% block content %}
<script>
  // Track landing page view as custom event
  if (typeof fbq === 'function') {
    fbq('trackCustom', 'QuizLandingViewed');
  }
</script>

<div class="quiz-wrapper">
    <div class="quiz-container quiz-intro">
        <div class="quiz-container__icon">🧠</div>
        <h1 class="quiz-container__title">Can You Tell Real From Fake News?</h1>
        <div class="quiz-container__text">
            Take our challenge.<br> Can you outsmart the internet?<br>
            Most people get it wrong.<br>
            Can you spot the fakes?
        </div>
        <a href="{{ url_for('quiz.quiz_question') }}" class="quiz-button start-button">
            🎯 Start the Quiz
        </a>
    </div>
</div>
{% endblock %}
