<!-- templates/terms.html -->
{% extends "base.html" %}
{% block content %}
<h1>Terms of Service</h1>
<p>Welcome to LieFeed. Here are some things you probably won’t read but agree to anyway:</p>
<ul>
  <li>Everything here is fake. Seriously, it’s satire. Laugh, don’t litigate.</li>
  <li>We’re not responsible for anything, ever. Not even typos.</li>
  <li>If you’re easily offended, you probably shouldn’t be here.</li>
</ul>
<p>Using LieFeed means you’re cool with all of the above. Carry on.</p>
{% endblock %}
